@import url('https://fonts.googleapis.com/css?family=Raleway');

:root{
    --primary-color:#fbff1b;
    --dark-color:#333333;
    --light-color:#f4f4f4;
    --lose-color:#dc3545;
    --win-color:#28a745;
    --modal-duration: 1s;
}

*{
    
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Raleway', sans-serif;
    line-height: 1.6;
    background: #f7ecbe;
    color: #333;
}

.container{
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
    text-align: center;
}

.restart-btn{
    display: none;
    background: var(--dark-color);
    color:var(--primary-color);
    padding: 0.4rem 1.3rem;
    font-size:1rem;
    cursor:pointer;
    outline:none;
    border:3px solid;
    margin-bottom: 1rem;
}
.restart-btn:hover{
    background:var(--primary-color);
    color: #333;
}

.header{
    text-align: center;
    margin: 1rem;
}
.header h1{
    margin-bottom: 1rem;
}
.score{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    font-size: 1.2rem;
}
.score p:first-child{
    background: var(--primary-color);
}

.score p:last-child{
    background: var(--dark-color);
    color: #fbff1b;
}

.choices{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2rem;
    margin-top: 3rem;
    text-align: center;
}
.choice {
    cursor: pointer;
}
.choice:hover{
    color: var(--primary-color);
}

.text-win{
    color: var(--win-color);
}
.text-lose{
    color: var(--lose-color);
}

footer { 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.308);
    color: var(--dark-color);
    text-align: center;
  }

@media screen and (max-width: 700px){
    .choice{
        font-size: 110px;
    }
}

@media screen and (max-width: 500px){
    .choice{
        font-size: 80px;
    }
    #rock{
        font-size: 5em;
    }
    #paper{
        font-size: 5em;
    }
    #scissors{
        font-size: 5em;
    }

}